<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Vue Demo - 表单控件绑定</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <style>
    [v-modal] {
        display: none;
    }
    </style>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>基础用法</h1>
            <div id="example-1" class="well well-sm">
                <div class="alert alert-success">
                    <header> Text</header>
                    <p>Hello, {{ message }} !</p>
                    <input type="text" v-model="message" placeholder="edit me">
                </div>
                <div class="alert alert-success">
                    <header>单个勾选框，逻辑值</header>
                    <input type="checkbox" id="checkbox" v-model="checked">
                    <label for="checkbox">{{ checked }}</label>
                </div>
                <div class="alert alert-success">
                    <header>多个勾选框，绑定到同一个数组：</header>
                    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                    <label for="jack">Jack</label>
                    <input type="checkbox" id="john" value="John" v-model="checkedNames">
                    <label for="john">John</label>
                    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                    <label for="mike">Mike</label>
                    <br>
                    <span>Checked names: {{ checkedNames | json }}</span>
                </div>
                <div class="alert alert-success">
                    <header>Radio</header>
                    <input type="radio" id="one" value="One" v-model="picked">
                    <label for="one">One</label>
                    <br>
                    <input type="radio" id="two" value="Two" v-model="picked">
                    <label for="two">Two</label>
                    <br>
                    <span>Picked: {{ picked }}</span>
                </div>
                <div class="alert alert-success">
                    <header>select 单选</header>
                    <select v-model="selected">
                      <option selected>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                    <span>Selected: {{ selected }}</span>
                </div>
                <div class="alert alert-success">
                    <header>select 多选，绑定到一个数组</header>
                    <select v-model="selected" multiple>
                      <option selected>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                    <br>
                    <span>Selected: {{ selected | json }}</span>
                </div>

            </div>
             <div class="alert alert-success" id="example2">
                    <header>动态选项，用v-for 渲染</header>
                    <select v-model="selected">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                    <span>Selected: {{ selected }}</span>
                </div>
        </div>
    </div>
</body>
<script src="http://cdn.jsdelivr.net/vue/1.0.7/vue.min.js"></script>
<script src="./fromControl.js"></script>

</html>
